#page {
    display: none;
    height: 100%;
    transition: all .3s linear 0s;
}
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
    transition: all .3s linear 0s;
}

.spinner {
	margin: 0 auto;
	margin-top: calc(50% - 9px);
	width: 70px;
	text-align: center;
}

.spinner > div {
	width: 18px;
	height: 18px;
	background-color: #fff;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: bouncedelay 1.4s infinite ease-in-out;
	animation: bouncedelay 1.4s infinite ease-in-out;
	/* Prevent first frame from flickering when animation starts */
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	.bounce1 {
		-webkit-animation-delay: -0.32s;
		animation-delay: -0.32s;
	}
	.bounce2 {
	  -webkit-animation-delay: -0.16s;
	  animation-delay: -0.16s;
	}
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Thin";
    src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: "Roboto-Medium";
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: "RobotoCondensed-Bold.ttf";
    src: url(../fonts/RobotoCondensed-Bold.ttf);
}

@-webkit-keyframes headerAnim {
    0%   {color: white;}
    25%  {color: black;}
    50%  {color: #8EA3AE;}
    100% {color: white;}
}

@-webkit-keyframes gradientAnim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes gradientAnim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes gradientAnim { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto-Thin", Verdana, sans-serif;
	font-size: 20px;
}

h1, h2, h3, h4 {
	font-family: "Roboto-Regular";
	font-size: 2rem;
	color: #fff;
}

div, p, ul, li {
	padding: 0;
	margin: 0;
	color: #5F7C8A;
} 

section {
/*	width: calc(100% - 50px);
	margin: 0 50px 0 0;	*/
	/*overflow: hidden;*/
}

.menu {
	width: 50px;
	position: fixed;
	height: 100%;
	top: 0;
	right: 0;
	background: #fff; 
	padding-bottom: 4em;
	transition: all .3s linear 0s;
	z-index: 100;
	box-shadow: 0px 0px 5px #5F7C8A;
	.hamburger {
		display: block;
		height: 40px;
		width: 40px;
		margin: 5px;
		background: url("images/circle.svg");
	}
	nav {
		display: none;
	}	
	nav.overlaymenu {
		display: block;
		text-align: center;
		font-size: 5em;
		ul {
			list-style: none;
			margin-top: 4em;
			li {
				.menu-link {
					position: relative;
					font-size: 4em;
					top: .6rem;
					display: block;
					width: 100%;
					color: #5F7C8A;
					text-decoration: none;
					transition: all .6s linear .3s;
				}
				.menu-link--subtitle {
					opacity: 0;
					position: relative;
					font-size: 2em;
					top: .1rem;
					transition: all .3s linear 0s;
					color: #FF931E;
				}
				&:hover {
					.menu-link {
						top: .2rem;
						transition: all .2s linear 0s;
					}
					.menu-link--subtitle {
						opacity: 1;
						transition: all .5s linear 0.2s;
					}
				}
			}
		}
	}
	&:hover {
		width: 60px;
		transition: all .2s linear 0s;
	}
	&.overlaymenu {
		width: 100%;
		opacity: 0.7;
		transition: all .3s linear 0s;		
	}
}

.introduction {
	background: url('images/background.svg') no-repeat center center; 
	background-size: cover;
	position: relative;
	.logo a {
		display: block;
		position: absolute;
		width: 100%;
		max-width: 700px;
		top: calc(50% - 70px);
		left: calc(50% - 350px);
	}
}

.testimonials {
	height: 100%;
	.top {
		height: 50%;
		p {
			font-size: 1.5em;
			padding: 3em;
			text-align: center;
			&.writer {
				font-size: 1.2em;
				color: #eee;
			}
		}
	}
	.bottom {
		position: relative;
		height: 50%;
		background: #5F7C8A;
		.circle {
			border-radius: 50%;
			position: absolute;
			top: -5em;
			left: calc(50% - 5em);
			background: url("images/circle.svg");
			background-size: 100%;
			height: 10em;
			width: 10em;
			box-shadow: 1px 5px 15px #42565F;
			transition: all .5s ease-in-out;
			text-align: center;
			a {
				position: relative;
				top: 1.2em;
				padding: 0em;
				text-decoration: none;
				line-height: .8em;
				text-align: center;
				font-size: 2.5em;
				color: #fff;
				text-shadow: 0 0 7px #000;
			}
			&:hover {
				transform: scale(1.1);
				transition: all .2s ease-in-out; ;
			}
		}
		p {
			color: #fff;
			font-size: 1.5em;
			padding: 3em;
			text-align: center;
			padding-top: 4.5em;
			&.writer {
				font-size: 1.2em;
				color: #eee;
			}
		}		
	}
}
.work-experience {
	height: auto;
	font-size: .9em;
	.work-exp-table {
		display: table;
  		width: 100%;
  		margin: -3.5em auto;
  		max-width: 1000px;
  		position: relative;
  		box-shadow: 0 0 15px #5F7C8A;
		.row {
			display: table-row;
			&:first-child .cell {
				background: #F0F0F0;
			}
			&:nth-child(2) .cell {
				padding-top: 2em;
			}
			.cell {
				display: table-cell;
				padding: 1em 2em 1em 2em;
				color: #161616;
				background: #fff;
				&.header {
					font-family: "Roboto-Regular";
					font-size: 1.2em;
					color: #5F7C8A;
				}
				&.date {
					font-family: "Roboto-Regular";
					color: #FF931E;
				}
				&.title {
					font-family: "Roboto-Regular";
					color: #5F7C8A;
					font-size: 0.9em;
				}
				&:first-child {
					width: 25%;
					text-align: right;
				}
			}
			&:hover .cell {
				background: #F0F0F0;
			}
		}
	}
}
.aboutme {
	padding: 4em;
  	h3 {
  		font-size: 3em;
  		font-family: "Roboto-Thin";
  		text-align: center;
  		margin: 1em;
  		color: #5F7C8A;
  	}
  	p {
  		font-size: 1.5em;
  		text-align: center;
  		margin-bottom: 1em;
  	}
  	.image {
		display: block;
		width: 200px;
		height: 200px;
		border-radius: 50%;
		margin: 5em auto 0;
		background: url('images/tim-hilhorst.jpg');
		background-size: 100%;
		position: relative;
		transition: all .5s ease-in-out 0s;
		.overlay {
			content: "";
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0; 
			background: url('images/circle-plus.svg');
			background-color: rgba(255,255,255,.7);
			background-size: 100%;
			transition: all .5s ease-in-out 0s;
			border-radius: 50%;
		}
		&:hover {
			transform: translateX(-4em);
			transition: all .5s ease-in-out 0s;
			.overlay {
				transform: translateX(8em);
				transition: all .5s ease-in-out 0s;
				background-color: rgba(255,255,255,0);
			}
		}
	}
}

.contact {
	background: url('images/background.svg') no-repeat center center;
	background-size: cover;
	.content {
		margin: 0;
		padding: 3em;
		h3 {
			text-align: center;
			font-size: 3em;
  			font-family: "Roboto-Thin";
  			margin-bottom: 2em;
		}
		.block-container {
			margin: 0 auto;
			width: 590px;
			.block {
				overflow: hidden;
				display: block;
				height: 60px;
				width: calc(100% - 100px);
				background: #fff;
				margin: 20px;
				padding: 30px;
				transition: all .5s ease-in-out 0s;
				h4 {
					color: #5F7C8A;
					margin: 0;
					transition: all .5s ease-in-out 0s;
					opacity: 1;
					transform: translateY(10px);
				}
				p {
					-webkit-filter: blur(5px);
					opacity: 0;
					font-size: 1.2em;
					transition: all .5s ease-in-out 0s;
					a {
						font-family: "Roboto-Medium";
						color: #FF931E;
						text-decoration: none;
						border: 0;
						outline: 0;
					}
					.facebook, .linkedin {
						display: inline-block;
  						height: 60px;
  						width: 60px;
  						position: relative;
  						top: 22px;
  						margin: 0 10px;
  						transition: all .5s ease-in-out 0s;
  						&:hover {
  							transform: scale(1.2);
  							transition: all .2s ease-in-out 0s;
  						}
					}
					.facebook {
						background: url('images/social_facebook.svg');
					}
					.linkedin {
						background: url('images/social_linkedin.svg');
					}
				}
				&:hover {
					transition: all .2s ease-in-out 0s;
					h4 {
						-webkit-filter: blur(20px);
						opacity: 0;
						transition: all .5s ease-in-out 0s;
					}
					p {
						-webkit-filter: blur(0px);
						opacity: 1;
						transition: all .5s ease-in-out 0.2s;
						transform: translateY(-25px);
					}
				}
				&.social:hover p {
					transform: translateY(-60px);
				}
			}
		}
	}
}

@media screen and (min-width: 550px) {
	.menu {
		background-position: right top;
		padding-top: 7em;
		padding-bottom: 2em;
		font-size: .5rem;
		nav ul li {
			width: 100%;
			padding: 0 20px;
		}
	}
	section {
		height: 100%;
	}
}

@media screen and (min-width: 1025px) {
	.menu {
		background-position: right center;
		padding-top: 0; 
		padding-bottom: 0;
		font-size: .8rem;
		nav ul li {
			width: auto;
		}
	}
}