@font-face {
    font-family: "ostrich-regular";
    src: url(../fonts/ostrich-regular.ttf);
}

@font-face {
    font-family: "Roboto-Thin";
    src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: "ostrich-bold";
    src: url(../fonts/ostrich-bold.ttf);
}

@font-face {
    font-family: "ostrich-black";
    src: url(../fonts/ostrich-black.ttf);
}

@-webkit-keyframes headerAnim {
    0%   {color: white;}
    25%  {color: black;}
    50%  {color: #8EA3AE;}
    100% {color: white;}
}

@-webkit-keyframes gradientAnim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes gradientAnim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes gradientAnim { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

html, body {
	height: 100%;
}

body, body * {
	margin: 0;
	padding: 0;
	font-family: "Roboto-Thin", Verdana, sans-serif;
	font-size: 16px;
}

h1, h2, h3, h4 {
	font-family: "ostrich-black";
	font-size: 2rem;
	color: #fff;
}

div, p, ul, li {
	padding: 0;
	margin: 0;
} 

section {
	width: 100%;
	/*max-width: 1000px;*/
	margin: 0 auto;
}

.menu {
	width: 100%;
	position: absolute;
	top: 0;
	background: url('images/menu.svg') no-repeat right bottom #fff; 
	padding-bottom: 4em;
	border-bottom: 1px solid #000;
	&:hover {
		border-bottom: 5px solid #000;
	}
}

.wrapper {
/*	position: relative;
	min-width: 920px;
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;*/
}
		
nav {
	ul {
		list-style: none;
		li {
			display: inline-block;
			margin: 0 0 0 -5px;
			height: 3em;
			width: 100%;
			margin-left: 20px;
			.menu-link {
				position: relative;
				top: .6rem;
				display: block;
				font-size: 1.3rem;
				width: 100%;
				color: #000;
				text-decoration: none;
				transition: all .6s linear .5s;
			}
			.menu-link--subtitle {
				opacity: 0;
				position: relative;
				top: .1rem;
				transition: all .5s linear 0s;
				color: #FF931E;
			}
			&:hover {
				.menu-link {
					top: .2rem;
					transition: all .3s linear 0s;
				}
				.menu-link--subtitle {
					opacity: 1;
					transition: all .5s linear 0.3s;
				}
			}
		}
	}
}

.content {
	width: 100%;
	height: 100%;
	background: url('images/mobile.svg') no-repeat center center; 
	background-size: cover;
	div {
		position: absolute;
		bottom: 100px;
		width: 100%;
		text-align: center;
		img {
			border: 0;
		}
	}
}

@media screen and (min-width: 550px) {
	.menu {
		background-position: right top;
		padding-top: 7em;
		padding-bottom: 2em;
		font-size: .5rem;
		nav ul li {
			width: 30%;
			padding: 0 20px;
			&:first-child {
				margin-left: 20px;
			}
		}
	}
	.content {
		background: url('images/placeholder.svg') no-repeat center center; 
		background-size: cover;
	}
}

@media screen and (min-width: 1025px) {
	.menu {
		background-position: right center;
		padding-top: 0; 
		padding-bottom: 0;
		font-size: .8rem;
		nav ul li {
			width: auto;
		}
	}
	.blocks {
		float: left;
		height: 200px;
		margin: 20px;
		padding: 20px;
		&.color1 {
			background: linear-gradient(270deg, #FF9F00, #FFC927);
			background-size: 400% 400%;
			-webkit-animation: gradientAnim 10s ease infinite;
			-moz-animation: gradientAnim 10s ease infinite;
			animation: gradientAnim 10s ease infinite;
		}
		&.color2 {
			background: #FFC927;
		}
		&.color3 {
			background: #FF8E00;
		}
		&.transparent {
			background: transparent;
		}
		&.width-1 {
			width: calc(25% - 40px);
			h2 {
				font-size: 3.5rem;
				text-shadow: 0px 0px 3px #515151;
			}
			&:hover {
				-webkit-perspective: 600;
			}
		}
		&.width-2 {
			width: calc(50% - 40px);
		}
		&.width-3 {
			width: calc(75% - 40px);
		}
		&.width-4 {
			width: calc(100% - 40px);
		}
		&.header {
			padding: 0;
			width: calc(100% - 40px);
			height: 300px;
			h1, h2 {
				margin: 0;
				padding: 0;
				width: 100%;
				text-align: center;
				text-shadow: 0px 0px 10px #aaa;
				-webkit-animation: headerAnim 60s linear infinite;
				transition: text-shadow 1s ease-in-out;
				&:hover {
					text-shadow: 0px 0px 20px #000;
					transition: text-shadow 1s ease-in-out;
				}
			}
			h1 {
				font-size: 16rem;
				line-height: .7rem;
				margin-top: .1rem;
			}
			h2 {
				font-size: 6rem;
				font-family: "ostrich-regular";
			}
		}
	}
}