.projects {
  font-size: 0.8rem;
}
:global(.project-enter) {
  opacity: 0.01;
  transform: translate(0, 30px);
}

:global(.project-enter.project-enter-active) {
  opacity: 1;
  transition: all 500ms ease-out;
  transform: translate(0, 0);
}

:global(.project-leave) {
  opacity: 1;
}

:global(.project-leave.project-leave-active) {
  opacity: 0.01;
  transition: opacity 300ms ease-out;
}

.project {
  background: rgba(255,255,255,0.4);
  margin: 1em;
  font-size: 1rem;
  font-weight: 100;
  :global(.header) {
    display: flex;
    background: rgba(255,255,255,0.4);
    :global(.title), :global(.date) {
      padding: 1em;
      align-self: center;
    }
    :global(.title) {
      flex: 1;
    }
  }
  :global(.body) {
    height: 1.5em;
    padding: 1em;
    transition: height 0.3s ease-out 0s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em;
    font-weight: 300;
    font-size: 0.9em;
  }
  &:hover {
    :global(.body) {
      height: 100px;
      transition: height 0.1s ease-out 0s;
      white-space: normal;
      overflow: visible;
      width: calc(100% - 2em);
    }
  }
  h4 {
    margin: 0;
    font-weight: 400;
  }
  sub {
    font-weight: 500;
  }
}

@media screen and (max-width: 768px) {
  .project {
    :global(.header) {
      flex-direction: column;
      :global(.title), :global(.date) {
        padding: 1em;
        align-self: flex-start;
      }
      :global(.date) {
        padding: 0 1.5em 1.5em;
        font-size: 0.75rem;
      }
    }
    &:hover :global(.body) {
      height: 150px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .project {
    :global(.body) {
      font-size: 1em;
    }
  }
}

@media screen and (min-width: 1400px) {
  .project {
    h4 {
      font-size: 1.2em;
    }
    :global(.body) {
      font-size: 1.1em;
    }
  }
}
