<!DOCTYPE html>
<html>
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		

		<link rel="stylesheet" href="css/styling.css" type="text/css" >
		<script>
		function onReady(callback) {
    		var intervalID = window.setInterval(checkReady, 1000);
		    function checkReady() {
		        if (document.getElementsByTagName('body')[0] !== undefined) {
		            window.clearInterval(intervalID);
		            callback.call(this);
		        }
		    }
		}
		
		function show(id, value) {
		    document.getElementById(id).style.display = value ? 'block' : 'none';
		}
		
		onReady(function () {
		    show('page', true);
		    show('loading', false);
		});
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<title>Tim Hilhorst - Scrum Master, Front-End Developer, Designer</title>

	</head>
	<body ng-app="portfolio" ng-controller="portfolioMenu">
		<div id="loading">
			<div class="spinner">
				<div class="bounce1"></div>
  				<div class="bounce2"></div>
  				<div class="bounce3"></div>
  			</div>
		</div>
		<div id="page">
<!-- 			<div class="menu" ng-class="menuOverlay">
				<div class="hamburger" ng-click="menuOverlay=''">close</div>
				<div class="closer" ng-click="menuOverlay='overlaymenu'">open</div>
				<nav ng-class="menuOverlay">
					<ul>
						<li>
							<a href="#" class="menu-link">resume</a>
							<span class="menu-link--subtitle">cutting to the chase</span>
						</li>
						<li>
							<a href="#" class="menu-link">education & skills</a>
							<span class="menu-link--subtitle">know my know-how</span>
						</li>
						<li>
							<a href="#" class="menu-link">about me</a>
							<span class="menu-link--subtitle">time to get personal</span>
						</li>
						<li>
							<a href="#" class="menu-link">contact</a>
							<span class="menu-link--subtitle">stalk me online</span>
						</li>
					</ul>
				</nav>
			</div> -->
			<section class="introduction">
				<div class="logo">
					<a href="https://nl.linkedin.com/in/timhilhorst">
						<img class="th-logo" src="css/images/timhilhorst.png" alt="Link to LinkedIn">
					</a>
				</div>
			</section>
 			<section class="testimonials">
 				<div class="top">
 					<p class"animate-in-view">“I had the pleasure of having Tim as part of my team for roughly two years. During this period Tim moved from being a beginner to a highly valued front-end developer, a journey that takes much longer for typical front-end resources. [...] On top of it he has a very frank and clear communication style that again makes him an ideal member of an Agile team.”<br><span class="writer">- Ashutosh Parashar, Account Manager Rabobank, CTS</span></p>
 				</div>
 				<div class="bottom">
 					<div class="circle"><a href="#contactme">contact</a></div>
 					<p class="animate-in-view">“I was working together with Tim during our ReVolt House proposal for the Solar Decathlon 2012. I know Tim as dedicated and mature student who does not shy away from responsibility. His ability to keep an overview and problem solving skills even through the most stressful deadline situations were a great asset.”<br><span class="writer">- Florian Heinzelmann, Director SHAU, PhD researcher at TU Eindhoven</span></p>
 				</div>
			</section>
			<section class="work-experience">
				<div class="temp-table"></div>
<!-- 				<div class="work-exp-table">
					<div class="row">
						<div class="cell header">Career History</div>
						<div class="cell title">Scrum Master, Front-end Developer - Cognizant Technology Services (full time)</div>
					</div>
					<div class="row">
						<div class="cell date">09/2013 - to date</div>
						<div class="cell">Seconded to the largest financial services provider in the Netherlands, I have been part of several scrum teams creating features, portlets and the responsive redesign of the corporate website. All projects required close collaboration with the scrum team, visual and UX designers, business analysts and content managers. Currently I am the scrum master for a team which develops apps/features for the bank's redesigned, cutting-edge framework.</div>
					</div>
					<div class="row">
						<div class="cell date">08/2011 - 03/2012</div>
						<div class="cell title">Research Internship - Stevens Van Dijck construction managers and advisors (full time)</div>
					</div>
					<div class="row">
						<div class="cell date"></div>
						<div class="cell">A research was conducted to see the effects of a sustainble ambition on investment and operation costs. A range of BREEAM-certified case studies were research to help develop a plan to better facilitate and manage a sustainable design.</div>
					</div>	
					<div class="row">
						<div class="cell date">09/2010 - 09/2013</div>
						<div class="cell title">Team Leader PR, Communications and Acquisitions - TU Delft ReVolt House (fulltime)</div>
					</div>
					<div class="row">
						<div class="cell date"></div>
						<div class="cell">A project which involved the design and build of a fully functional solar powered home for the prestigious student competition Solar Decathlon Europe 2012. For this TU Delft dream team I was in charge of PR, communications and sponsorship, which involved many negotiations with university, research institutions, government and (building) companies. </div>
					</div>						
					<div class="row">
						<div class="cell date">09/2010 - 09/2013</div>
						<div class="cell title">Junior Webdeveloper / SEO Specialist - QuelMediA (12 hours per week)</div>
					</div>
					<div class="row">
						<div class="cell date"></div>
						<div class="cell">Quel brings suppliers and purchasing organization in contact with eachother that are looking for products or services in Google. QuelMediA specializes in search engine marketing, search engine optimization as well as search engine advertising.</div>
					</div>						
					<div class="row">
						<div class="cell date">01/2010 - 06/2010</div>
						<div class="cell title">Internship - Rudy Uytenhaak Architectenbureau (36 hours per week)</div>
					</div>
					<div class="row">
						<div class="cell date"></div>
						<div class="cell">A five month internship were I was working on a wide range of activities, i.e. technical drawings, scale models, posters, presentation booklets, renderings and the development of the new company website.				</div>
					</div>
				</div> -->
			</section> 
			<section class="aboutme" ng-controller="portfolioContact">
				<h3>About me</h3>
				<p>I'm an all-round creator with a passion for (web)design, innovation, sustainability, transformation and team work. With an architect’s degree, I started with Cognizant Technology Solutions as a young professional in front-end development. At Delft University of Technology  I learned to combine design and technology from concept to realisation.</p>
				<p>I’m a team player looking for opportunities to contribute my knowledge of scrum, continuous delivery, front-end development, visual, spatial and interaction design in challenging projects with a customer-centered approach.</p>
				<div class="image">
					<a href="#contactme" class="overlay"></a>
				</div>
			</section>
			<section class="contact">
				<div class="content">
					<h3>Contact details</h3>
					<div class="block-container">
						<div class="block">
							<h4>Resume</h3>
							<p>Click <a href="css/attachments/resume_tim-hilhorst_2015.pdf">here</a> to download my resume</p>
						</div>
						<div class="block">
							<h4>E-mail</h3>
							<p>Want more info? <a id="contactme" href="mailto:info@timhilhorst.nl">Send me an e-mail</a>.</p>
						</div>
						<div class="block social">
							<div class="title">
								<h4>Social</h3>
								<p>Check me out on <a href="https://nl.linkedin.com/in/timhilhorst" class="linkedin"></a> or <a href="https://www.facebook.com/tim.hilhorst" class="facebook"></a></p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<script type="text/javascript" src="javascript/portfolio.js"></script>
	</body>
</html>